@keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blink-text {
    color: brown;
    animation: blink-animation 2s infinite;
  }

  .table-container {
    overflow-x: auto;
    max-width: 120em;
  }
  
  .inputSizeRow{
    width: "200px"
  }

  .sticky{
    position: sticky;
    right: -12px;
  }